In [1]:
import numpy as np
import pandas as pd

# 모델 라이브러리 선언
from sklearn import datasets, tree

# 모델 정확도 라이브러리 선언
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

In [2]:
csData = pd.read_csv('../dataset/customer.csv')

In [3]:
csData.head()

      deposit     stock    label
0  1400000000  45000000   normal
1  1450000000  72000000  diamond
2  1500000000  61000000  diamond
3  1370000000  56000000   normal
4  1920000000  48000000  diamond

In [5]:
corrDf = csData.corr()

In [6]:
corrDf.head()

          deposit     stock
deposit  1.000000  0.015283
stock    0.015283  1.000000