# 1. for

In [2]:
tvList=['UN40EN001', 'UN40EN002','UN40EN003','UN40EN004']

In [3]:
range(0,4)

range(0, 4)

In [15]:
preFix = "LED_TV"

In [12]:
tvList[0]

'UN40EN001'

In [16]:
preFix+tvList[0]

'LED_TVUN40EN001'

In [17]:
for i in range(0,4):
    tvList[0] = preFix + tvList[i]

In [18]:
tvList

['LED_TVUN40EN004', 'UN40EN002', 'UN40EN003', 'UN40EN004']

# 2.while

In [2]:
tvList=['UN40EN001', 'UN40EN002','UN40EN003','UN40EN004']

In [3]:
preFix = "LED_TV"

In [ ]:
i=0

In [15]:
while(i<4):
    tvList[i] = preFix + tvList[i]
    i = i+1

In [9]:
tvList[0]

'LED_TVUN40EN001'

# 3. 2중 for문

In [11]:
for n in [1,2]:
    print("{0}단 시작".format(n))
    for i in [1,2,3,4,5,6,7,8,9]:
        print("{0}*{1}={2}".format(n, i, n*i))

1단 시작
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
2단 시작
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18

In [12]:
for n in range(1,3):
    print("{0}단 시작".format(n))
    for i in range(1,10):
        print("{0}*{1}={2}".format(n, i, n*i))

1단 시작
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
2단 시작
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18

# 4. 금일 퀴즈

In [ ]:
import pandas as pd

customerData = pd.read_csv("../dataset/kopo_customerdata.csv")
customerTotalList = customerData["TOTAL_AMOUNT"].tolist()

customerTotalList.remove(min(customerTotalList))
customerTotalList.remove(max(customerTotalList))

sumList = sum(customerTotalList)

sumList

lenList = len(customerTotalList)

avgList = sumList/lenList

In [ ]:
avgList

# 5. if문

In [3]:
tvList2 = ['UN40EN001','LEDTV_UN40EN002', 'LEDTV_UN40EN003','UN40EN004']

In [5]:
preFix = "LEDTV_"

for i in range(0,4):
    preFixCount = tvList2[i].count(preFix)
    if(preFixCount == 0):
        tvList2[i] = preFix + tvList2[i]
    else:
        tvList2[i] = tvList2[i]

In [6]:
tvList2

['LEDTV_UN40EN001', 'LEDTV_UN40EN002', 'LEDTV_UN40EN003', 'LEDTV_UN40EN004']

In [24]:
tvList3 = ['UN40EN001', 'LEDTV_UN40EN002', 'LEDTV_LEDTV_UN40EN003', 'UN40EN004']

In [25]:
preFix = "LEDTV_"

In [26]:
i=0
tvListLen = len(tvList3)

In [27]:
preFixCount = tvList3[i].count(preFix)
preFixCount

0

In [28]:
while(i<len(tvList3)):
    preFixCount = tvList3[i].count(preFix)
    if(preFixCount==0):
        tvList3[i] = preFix + tvList3[i]
    elif(preFixCount==1):
        tvList3[i] = tvList3[i]
    else:
        tvList3[i] = tvList3[i].replace(preFix*preFixCount, preFix)
    i= i+1

In [29]:
tvList3

['LEDTV_UN40EN001', 'LEDTV_UN40EN002', 'LEDTV_UN40EN003', 'LEDTV_UN40EN004']

# 6. 자주쓰는 내용 함수화하기

In [40]:
# 소수점 자릿수 반올림하는 함수

def round2Digit(value, valueDigit):
    step1 = value * (10**valueDigit)
    step2 = round(step1)
    step3 = step2/(10**valueDigit)
    return step3

In [39]:
testValue = 8784.5352
round2Digit(testValue, 0)

8785.0

In [61]:
# 리스트를 인수로 받아서 최대,최소값을 뺸 평균을 구하는 함수를 생성하기

def listFunction(listName) :    
    listName.remove(min(listName))
    listName.remove(max(listName))
    average = sum(listName)/len(listName)
    return average

In [62]:
myList = [1,2,3,4,5,6]

listAvg = listFunction(myList)
listAvg

3.5

In [69]:
# 리스트를 인수로 받아서 최대,최소값을 뺸 평균을 구하는 함수(만약 최소, 최대값이 여러개라면 전부 지우며)를 생성하기

def listAvg(yourList):  

    minVal = min(yourList)
    maxVal = max(yourList)

    minValCnt = yourList.count(min(yourList))
    maxValCnt = yourList.count(max(yourList))


    for i in range(0,minValCnt):
        yourList.remove(minVal)
        
    for i in range(0,maxValCnt):
        yourList.remove(maxVal)


    myAverage = sum(yourList)/len(yourList)
    
    return myAverage

In [70]:
myList2 = [1,1,1,2,3,4,5,5,5,5]
listAvg2 = listAvg(myList2)
listAvg2

3.0

In [88]:
# PANDAS 패키지 불러오기
import pandas as pd
import pymysql
from sqlalchemy import create_engine

#DB 커넥션 열기
engine = create_engine('mysql+pymysql://kopo:kopo@192.168.110.111:3306/kopo')
# engine = create_engine('mysql+pymysql://root:root@192.168.110.5:3306/student')

# DB 테이블을 읽어 Data Frame 변수에 저장하기
selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine)
selloutData
# selloutData1 = pd.read_sql_query('SELECT * FROM studentinfo', engine)
# selloutData1
# selloutData2 = pd.read_sql_query('SELECT * FROM mysql_sc', engine)
# selloutData2

# # 컬럼헤더 재정의
selloutData.columns = ['Soo', 'PRODUCTGROUP', 'YEARWEEK', 'VOLUME']

# # 데이터 저장
resultname = 'mysql_sc'
selloutData.to_sql(resultname, engine, if_exists='replace', index=False)

   no name      city
0  A3  정다운     Seoul
1  A2  사다코     Tokyo
2  A1  정다운  Suncheon

In [3]:
#DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://SC2019:SC2019@127.0.0.1:1522/xe')

selloutData4 = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine)

selloutData4

    regionid productgroup yearweek   volume
0        A01       ST0002   201512   151750
1        A01       ST0001   201520   645626
2        A01       ST0002   201520   125863
3        A01       ST0001   201515   810144
4        A01       ST0002   201515   128999
5        A01       ST0001   201518   671464
6        A01       ST0002   201518   134467
7        A01       ST0001   201513   470040
8        A01       ST0002   201513   140297
9        A01       ST0001   201511   524787
10       A01       ST0002   201511   145509
11       A01       ST0001   201516   764927
12       A01       ST0002   201516   140313
13       A01       ST0001   201519   682757
14       A01       ST0002   201519   128668
15       A01       ST0001   201514   428195
16       A01       ST0002   201514   137488
17       A01       ST0001   201512   486509
18       A01       ST0001   201517   697502
19       A01       ST0002   201517   127163
20       A01       ST0001   201507   620392
21       A01       ST0002   201507   146476
22       A01       ST0001   201510   511679
23       A01       ST0002   201510   153152
24       A01       ST0001   201502   438251
25       A01       ST0002   201502   123875
26       A01       ST0001   201505   482381
27       A01       ST0002   201505   180516
28       A01       ST0001   201508   571781
29       A01       ST0002   201508   156772
..       ...          ...      ...      ...
180      A01       ST0001   201635   732598
181      A01       ST0002   201635   229962
182      A01       ST0001   201633   748038
183      A01       ST0002   201633   201557
184      A01       ST0001   201631   832400
185      A01       ST0002   201631   179630
186      A01       ST0001   201629   809554
187      A01       ST0002   201629   163171
188      A01       ST0001   201627   798282
189      A01       ST0002   201627   188335
190      A01       ST0001   201634   711380
191      A01       ST0002   201634   181811
192      A01       ST0001   201632   774620
193      A01       ST0002   201632   215174
194      A01       ST0001   201648   873341
195      A01       ST0002   201648   711806
196      A01       ST0001   201646   630040
197      A01       ST0002   201646   441993
198      A01       ST0001   201651  1175605
199      A01       ST0002   201651   401602
200      A01       ST0001   201649   749699
201      A01       ST0002   201649   278487
202      A01       ST0001   201647  1037853
203      A01       ST0002   201647  1663206
204      A01       ST0001   201645   585098
205      A01       ST0002   201645   192137
206      A01       ST0001   201652   813749
207      A01       ST0002   201652   208186
208      A01       ST0001   201650   786380
209      A01       ST0002   201650   320253

[210 rows x 4 columns]

In [6]:
import pandas as pd
import pymysql
import psycopg2
from sqlalchemy import create_engine

engine_mariaDB = create_engine('mysql+pymysql://kopo:kopo@192.168.110.111:3306/kopo')

selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine_mariaDB)

selloutData.columns = ['SooOne', 'Two', 'SooThree', 'Four']

engine_postgres = create_engine('postgresql://kopo:kopo@192.168.110.111:5432/kopo')

resultname = 'SC_Test'
selloutData.to_sql(resultname, engine_postgres, if_exists='replace', index=False)