# 1. 데이터 로드

In [1]:
pwd

'E:\\GitMaster\\01.Python_Git\\02. Data Type & Data Load\\02. Data Load(File_DB)'

In [2]:
import pandas as pd

In [3]:
customerData = pd.read_csv("../../dataset/customerdata.csv", encoding='ms949')

In [18]:
customerData.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE         CUSTTYPE2
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog

# 2. 로드한 데이터수정

In [5]:
customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE2']

# 3. 수정한 데이터 내보내기

In [10]:
customerData.to_csv("./customerDataOut.csv")

# 4.수정한 데이터 로드

In [13]:
customerData2 = pd.read_csv("../02. Data Load(File_DB)/customerDataOut.csv", encoding='ms949')

In [16]:
customerData2.head()

,Unnamed: 0,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE2
0,0,A13566,4273.900000,3,6.4,1.679181,Big-Screen-lover
1,1,A14219,3642.441950,2,4.0,2.682023,Sleeping-dog
2,2,A15312,3653.884565,2,5.0,3.208202,Sleeping-dog
3,3,A16605,3713.211107,2,6.6,0.900000,Early-bird
4,4,B10634,3391.074215,2,4.2,2.453656,Sleeping-dog

# *퀴즈 답변

In [46]:
import timeit
import pandas as pd

start = timeit.default_timer()

qtyList = pd.read_csv("../../dataset/kopo_channel_seasonality_new.csv")["QTY"].tolist()

qtyList.remove(min(qtyList))
qtyList.remove(max(qtyList))

sumList = sum(qtyList)
lenList = len(qtyList)
avgList = sumList/lenList

print(avgList)


stop = timeit.default_timer()
print('Time: ', stop - start)

8936.090755278527
Time:  0.1676796250001189

In [43]:
dic = {"qty":"100"}
dic["qty"]

'100'