# 1.라이브러리 불러오기

In [ ]:
from datetime import datetime as dt
currentDate = dt.now()

# 2.시간, 분 정보 불러오기

In [ ]:
hourVar= currentDate.hour
minutesVar = currentDate.minute

print(hourVar)
print(minutesVar)

# 3. 변수의 합 출력

In [ ]:
answer=hourVar+minutesVar
print(answer)

# 4.Type

In [2]:
a=123

In [3]:
b="123"

In [8]:
type(a)

int

In [9]:
type(b)

str

# 5.문자열 더하기

In [11]:
head = "fintech"
tail = "student"
fullstring = head+" "+tail
print(fullstring)

fintech student

# 6.문자열 곱하기

In [14]:
starChar = "*"
starMul = "*"*100
starMul

'****************************************************************************************************'

# 7.문자열 인덱싱

In [17]:
yearweek = "201801"
print(yearweek[0])      #첫번째 문자열
print(yearweek[0:4])    #0~4번째 전 문자열 (파이썬에서는 첫번째 숫자 이상 마지막 숫자 미만)
print(yearweek[4:])     #4번째 부터 끝까지

2
2018
01

# 8. 문자열 카운팅

In [20]:
yearweek = "2017W28"
print(yearweek.count('W'))

1

# 9.문자열 위치확인

In [38]:
print(yearweek.index('W'))
delimeter = yearweek.index('W')
yearweek_new = yearweek[:delimeter]+yearweek[delimeter+1:]
print([yearweek_new])

4
['201728']

# 10. split 함수

In [29]:
yearweek_list = yearweek.split("W")
print(yearweek_list)

['2017', '28']

In [35]:
type(yearweek_list)

list

In [36]:
yearweek.lower()

'2017w28'

# 11.실습

In [116]:
totalVal = "SEC 20180212 250"

blank1 = totalVal.index(" ")
blank2 = totalVal.index(" ", 4)

stockName = totalVal[0:blank1]
date = totalVal[blank1+1:blank2]
value = totalVal[blank2:]

print(stockName, date, value)

SEC 20180212  250

In [111]:
totalVal = "Sec 2018W28 250"

blank1 = totalVal.index(" ")
blank2 = totalVal.index(" ", 4)

stockName = totalVal[0:blank1].upper()
date = totalVal[blank1+1:blank2].replace("W", "")
value = totalVal[blank2+1:]
                 
print(stockName, date, value)

SEC 201828 250

# 12. List 문제풀이

In [152]:
#리스트 선언 및 정렬
numList = [120, 150, 300, 500, 1000, 100, 2000]
numList.sort(reverse = False)

#리스트의 최소,최대값 저장
minList = min(numList)
maxList = max(numList)

#최소, 최대값 삭제
numList.remove(minList)
numList.remove(maxList)

#리스트의 길이,인덱스 값들의 합 저장
avgMother = len(numList)
sumList = sum(numList)

#평균변수 선언
average = sumList/avgMother

#값 출력
print(numList)
print(sumList)
print(avgMother)
print(average)

[120, 150, 300, 500, 1000]
2070
5
414.0

# 13. List문제풀이2

In [8]:
#리스트 선언 및 정렬
numList = [120, 150, 300, 500, 1000, 100, 2000]
numList.sort(reverse = False)

#최소,최대값 삭제
del numList[0]
del numList[len(numList)-1]


#리스트의 길이
avgMother = len(numList) 

#리스트의 합
sumList = sum(numList)

#평균변수 선언
average = sumList/avgMother

#값 출력
print(numList)
print(sumList)
print(avgMother)
print(average)

[120, 150, 300, 500, 1000]
2070
5
414.0

# 14. 딕셔너리

In [9]:
d=dict(name="sec", value=30000, address="suwon")
d

{'name': 'sec', 'value': 30000, 'address': 'suwon'}

In [10]:
dict2 = {"201701":"0.2", "201702":"0.5", "201703":"07"}
dict2["201701"]

'0.2'